.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

img, p {
  cursor: pointer;
}


.bin-holder{
  position: absolute; 
  top: 5;
  right: 15;
  width: 10%;
  height: 20%;
}

.trash_bin {
  display:none;
}

.bin-holder:hover .trash_bin {
  position: absolute;
  display: block;
  top: 5;
  right: 5;
  width: 80%;
  /* cursor:pointer; */
}


footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}


